<div ng-init="get()">
    <div class="toggle">
        <button type="button" class="uk-button uk-button-default" uk-toggle="target: .toggle">Create new</button>
        <table class="uk-table uk-table-divider">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Created at</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.created_at }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div hidden class="toggle">
        <form ng-submit="post()">
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">Add Event</legend>
                <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="Name..." ng-model="form.name" required>
                </div>
                <div class="uk-margin">
                    <textarea class="uk-textarea" rows="5" placeholder="Description..." ng-model="form.description" required></textarea>
                </div>
                <div class="uk-margin">
                    <button type="submit" class="uk-button uk-button-primary">Create</button>
                    <button type="button" class="uk-button uk-button-default" uk-toggle="target: .toggle">Cancel</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
